@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Ysabeau', sans-serif;
background-color: #282b2b;
}

/* Estilos del header */

header {
  background-color: #534848;
  }
  .navbar-brand,
  .navbar-nav {
margin-left: auto;
  }
  
  ul {
font-size: 1.3rem;
  }

/* imagen centro */

.imagen-principal {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
background-image: url("../img/imagenprincipal.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
}

h5 {
position: relative;
text-align: center
}

/*contenedor del main*/

main {
background-color: #282b2b;
color: rgb(0, 0, 0);
width: 100%;
}

.todoslosproductos {
padding: 1vh;
text-align: center;
color: white;
}

/*Galeria de imagenes*/

.galeria {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
margin: 20px;
object-fit:cover;
}

.items-galeria {
border-radius: 5px;
overflow: hidden;
box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
text-align: center;
}

.items-galeria img {
width: 100%;
height: 500px;
border-radius: 1rem;
object-fit: cover;
}

.product-info {
padding: 5px;
background-color: black;
border-radius: 1rem;
margin-top: -1rem;
position: relative;
}

.product-name {
font-size: 1.3rem;
margin-bottom: 5px;
color: white;
}

.product-price {
font-size: 1.2rem;
color: #888;
}

.btn {
border: 0;
cursor: pointer;
text-transform: uppercase;
padding: 0.25rem;
border-radius: 1rem;
background-color: rgb(255, 255, 255);
font-family: 'Ysabeau', sans-serif;
color: rgb(0, 0, 0);
border: 2px solid rgb(255, 255, 255);
}
.btn:hover {
background-color: #ffffff;
color: white;
}

footer {
display: grid;
height: 5vh;
background-color: #282b2b;
}

.textofooter {
display: grid;
font-family: 'Ysabeau', sans-serif;
text-align:center;
font-size: 1.1rem;
margin: 1rem;
color: rgb(192, 179, 179);
background-color: #282b2b;
}

/* Página puntos de encuentro*/

.puntoencuentro {
display: flex;
margin-left: 15%;
text-align: center;
gap: 5vh;
}

.card {
background-color: black;
color: white;
}

/* Contacto */

.body-contacto {
background-color: #282b2b
}

.form-control {
background-color: #555;
color: #fff;
border: none;
}

.butn {
background-color: #777;
color: #fff;
border: none;
}

.butn:hover {
background-color: #999;
}

.form-label {
color: #ffffff;
}


/*Media queuries*/

@media screen and (max-width: 1024px) {

.navbar-toggler {
order: -1;
}

.navbar-brand,
.navbar-nav {
margin-left: auto;
}

.galeria {
grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 768px) {
.galeria {
grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 320px) {

.galeria {
  display: inherit;
}

}
















