main {
    background-color: #282b2b;
    color: rgb(0, 0, 0);
    width: 100%;
    .todoslosproductos {
        padding: 1vh;
        text-align: center;
        color: white;
        }
    }

 body {
    background-color: $mainColor;
}
